In [6]:
import pandas as pd
import numpy as np

In [3]:
orders  = pd.read_csv(r'C:\Users\Rathang Rajpal\Desktop\sem 6\Intern_Xebia\Customer Segmentation\codes\instakart data\orders.csv\orders.csv')

In [4]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [7]:
department = pd.read_csv(r'C:\Users\Rathang Rajpal\Desktop\sem 6\Intern_Xebia\Customer Segmentation\codes\instakart data\departments.csv\departments.csv')
aisles = pd.read_csv(r'C:\Users\Rathang Rajpal\Desktop\sem 6\Intern_Xebia\Customer Segmentation\codes\instakart data\aisles.csv\aisles.csv')

In [8]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [9]:
department.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [10]:
products = pd.read_csv(r'C:\Users\Rathang Rajpal\Desktop\sem 6\Intern_Xebia\Customer Segmentation\codes\instakart data\products.csv\products.csv')
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [11]:
prod_order = pd.read_csv(r'C:\Users\Rathang Rajpal\Desktop\sem 6\Intern_Xebia\Customer Segmentation\codes\instakart data\order_products__train.csv\order_products__train.csv')

In [12]:
prod_order.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [13]:
prod_order_p = pd.read_csv(r'C:\Users\Rathang Rajpal\Desktop\sem 6\Intern_Xebia\Customer Segmentation\codes\instakart data\order_products__prior.csv\order_products__prior.csv')

In [14]:
prod_order_p.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [16]:
prod_dept = products.merge(department,how = 'left',on = 'department_id')
prod_dept.head()

,product_id,product_name,aisle_id,department_id,department
0,1,Chocolate Sandwich Cookies,61,19,snacks
1,2,All-Seasons Salt,104,13,pantry
2,3,Robust Golden Unsweetened Oolong Tea,94,7,beverages
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,frozen
4,5,Green Chile Anytime Sauce,5,13,pantry

In [17]:
product_dept = prod_dept.set_index('product_id').drop(['product_name','aisle_id','department_id'],axis = 1)

In [18]:
product_dept.head()

           department
product_id
1              snacks
2              pantry
3           beverages
4              frozen
5              pantry

In [19]:
d = {}
for i in product_dept.index:
    d[i] = product_dept['department'][i]

In [20]:
d[29429]

'breakfast'

In [21]:
customer_orders = pd.merge(orders,prod_order,on = 'order_id')

In [22]:
customer_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,1187899,1,train,11,4,8,14.0,196,1,1
1,1187899,1,train,11,4,8,14.0,25133,2,1
2,1187899,1,train,11,4,8,14.0,38928,3,1
3,1187899,1,train,11,4,8,14.0,26405,4,1
4,1187899,1,train,11,4,8,14.0,39657,5,1

In [23]:
custgoods = customer_orders.groupby('user_id')['product_id'].apply(list).reset_index()
custgood = custgoods.set_index('user_id')

In [24]:
custgoods['product_id'].values[0]

[196, 25133, 38928, 26405, 39657, 10258, 13032, 26088, 27845, 49235, 46149]

In [25]:
custgood.tail()

                                                product_id
user_id
206199   [29429, 8898, 6128, 6701, 38855, 38341, 43821,...
206200   [22828, 13176, 39190, 34243, 8174, 27451, 1559...
206203   [15693, 37188, 21469, 41007, 2482, 14050, 2638...
206205   [27845, 21137, 28745, 22035, 24852, 46886, 314...
206209   [6846, 9405, 24852, 40603, 15655, 42606, 37966...

In [26]:
l = custgood['product_id'][206199]

In [27]:
user_d = {}
for ind in custgood.index:
    l = [d[k] for k in custgood['product_id'][ind]]
    user_d[ind] = l

In [ ]:
#dictionary contatining the departments from which a particular customer had bought goods from 
user_d

# We have created a dictionary of the number of the departments from which a customer has bought the products forms

In [33]:
user_d[1]

['beverages',
 'dairy eggs',
 'dairy eggs',
 'household',
 'snacks',
 'snacks',
 'breakfast',
 'snacks',
 'dairy eggs',
 'dairy eggs',
 'beverages']

In [34]:
user_d[2]

['deli',
 'frozen',
 'snacks',
 'snacks',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'dairy eggs',
 'snacks',
 'deli',
 'personal care',
 'deli',
 'frozen',
 'frozen',
 'frozen',
 'frozen',
 'frozen',
 'frozen',
 'frozen',
 'canned goods',
 'frozen',
 'frozen',
 'frozen',
 'snacks',
 'snacks',
 'canned goods',
 'canned goods']